<div class="card text-center">
    <div class="card-header">
        <h4 class="card-title mt-3">Aplicación para predecir tipos de comentarios en twitters</h4>
        <ul class="nav nav-tabs card-header-tabs" role="tablist">
            <li class="nav-item cursor">
                <a class="nav-link active cursor" data-toggle="tab" [ngClass]="{'active':tab === 1}" role="tab"
                    (click)="tab=1" aria-controls="steps">
                    <i class="material-icons mr-2">message</i>Evalua tu Twitter
                </a>
            </li>
            <li class="nav-item cursor">
                <a class="nav-link active cursor" data-toggle="tab" [ngClass]="{'active':tab === 2}" role="tab"
                    (click)="tab=2" aria-controls="roles">
                    <i class="material-icons mr-2">public</i>tweet
                </a>
            </li>
        </ul>
    </div>
    <div class="card-body">
        <div class="tab-content">
            <div id='messege' class="tab-pane" [ngClass]="{'active':tab === 1}" role="tabpanel"> <br>
                <form action="" method="post">
                    <div class="form-group">
                        <div class="container">
                            <div class="row">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Nombre de la Variable: </span>
                                    </div>
                                    <input class="form-control" id="sentence" type="text" name="sentence"
                                        [(ngModel)]="sentenceOne">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center mt-2">
                        <div class="col-sm-8">
                            <button (click)="evaluarMensaje()" type="button" class="btn btn-dark btn-block">Evalular
                                Mensaje</button>
                        </div>
                    </div>
                </form>
                <div class="container mt-3" *ngIf="prediccion">
                    <div class="row">
                        <div class="col-12" *ngFor="let item of prediccion">
                            <div *ngIf="item.polaridad_Negativo !=0">
                                <h4>Esta polaridad puede ser Negativa</h4>
                            </div>
                            <div *ngIf="item.polaridad_Neutral !=0">
                                <h4>Esta polaridad puede ser Neutral</h4>
                            </div>
                            <div *ngIf="item.polaridad_Positivo !=0">
                                <h4>Esta polaridad puede ser Positiva</h4>
                            </div>
                            <div
                                *ngIf="item.polaridad_Negativo == 0 && item.polaridad_Neutral == 0 && item.polaridad_Positivo ==0">
                                <h4>Este frase no la conozco</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id='famoso' class="tab-pane" [ngClass]="{'active':tab === 2}" role="tabpanel"><br>
                <form action="" method="post">
                    <div class="form-group">
                        <div class="container">
                            <div class="row">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Hashtag: </span>
                                    </div>
                                    <input class="form-control" id="sentence" type="text" name="sentence"
                                        [(ngModel)]="sentence">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center mt-2">
                        <div class="col-sm-8">
                            <button (click)="hastagTwitter()" type="button" class="btn btn-dark btn-block">Obtener
                                Hashtag</button>
                        </div>
                    </div>
                </form>
                <div *ngIf="prediccionTwets.length != 0" class="mt-2">
                    <div class="container">
                        <h2>tweets mas famosos</h2>
                        <p>
                            Tabla de los ultimos twetters con la palabra o el Hashtag {{sentence}}
                        </p>
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>tweet</th>
                                    <th>Comentario Negativo</th>
                                    <th>Comentario Neutral</th>
                                    <th>Comentario Positivo</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of prediccionTwets">
                                    <td>{{item.tweet}}</td>
                                    <td>{{item.polaridad_Negativo == 1 ? 'Si':'No' }}</td>
                                    <td>{{item.polaridad_Neutral == 1 ? 'Si':'No' }}</td>
                                    <td>{{item.polaridad_Positivo == 1 ? 'Si':'No' }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="conteiner mt-2" *ngIf="prediccionTwets.length === 0">
                    <div class="row">
                        <div class="col-12">
                            <h4>Dentro de los primeros 10 Twets no lo pude encontrar</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>